@plugin "@iconify/tailwind4" {
  prefix: "i";
  scale: 1.2;
}
@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

@theme {
  --color-fd-primary: hsl(217, 100%, 50%);
}

.dark {
  --color-fd-primary: hsl(222, 73.6%, 65.9%);
}
